//-----------------------------------------------------------------------------------------------//
//                                         Category Sections                                     //
//-----------------------------------------------------------------------------------------------//
.container-fluid {

    .row {
        
        
        background-color: $blue;

        .sectionsContainer__section {
            
            text-align: center;
            overflow: hidden;
            height: 35rem;
            padding: 0;
            

            .section__img {
                
                width: 100%;
                position: relative;
                @include categoryImgFilter();
                transition: filter 0.5s, width 1s;

                
                cursor: pointer;
                

                &--largerSize {
                    width: 113%;
                    height: auto;
                }

                @media only screen and (max-width: 540px) {
                    
                   width: 116%;
                    
                }

            }

            .section__img--position {
                @extend .section__img;
                top: -35rem;
            }

            

            

            .section__centered {
                opacity: 1;
                cursor: pointer;
                position: absolute;
                top: 45%;
                left: 50%;
                transform: translate(-50%, -50%);
                transition: transform 1s;
                

                .centered__h1 {
                    
                    font-size: 3rem;
                    text-transform: uppercase;
                    font-weight: 400;
                    color: $white;
                    padding: 1rem;
                    opacity: 1;
                    transition: opacity 1s;
            
                }

                        
            }

            &:hover {

                .section__img {
                    
                    filter: none;

                }

                .section__centered {

                    transform: translate(-50%, -100%);
                    transition: transform 1s;
                    
                    .centered__h1 { 

                        opacity: 0;
                        transition: opacity 1s;
                        
                    }
                    
                }

            }
        }
    }
}
