//-----------------------------------------------------------------------------------------------//
//                                         Category Sections                                     //
//-----------------------------------------------------------------------------------------------//
.container-fluid {

    .row {
        background-color: $blue;

        .sectionsContainer__section {
            text-align: center;
            overflow: hidden;
            height: 35rem;
            padding: 0;
            

            .section__img {
                width: 100%;
                position: relative;
                @include categoryImgFilter();
                transition: filter 1s;
                cursor: pointer;

                &--largerSize {
                    width: 113%;
                    height: auto;
                }

            }

            .section__img--position {
                @extend .section__img;
                top: -35rem;
            }

            .section__centered {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                .centered__h1 {
                    font-size: 3rem;
                    text-transform: uppercase;
                    font-weight: 400;
                    color: $white;
                    background-color: lightgrey;
                }

                .centered__hr {
                    border: 0.1rem solid $white;
                    
                }

                
            }

            &:hover {
                .section__img {
                    filter: none;
                }
            }

            .section__process {
                
                
                
                .process__p--style {
                    font-size: 3rem;
                    color: $white;
                    display: inline;
                }

                .process__divOne {
                    
                    height: 100%;
                    width: 60%;
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                    margin-bottom: 3rem;
                    .divOne__img {
                        float: left;
                        width: 30%;
                    }
                    .divOne__p {
                        display: inline;
                        font-size: 1.5rem;
                        color: $white;
                    }
                }
                
                .process__divTwo {
                    @extend .process__divOne;
                    .divTwo__img {
                        @extend .divOne__img;
                        float: right;
                    }
                    .divTwo__p {
                        @extend .divOne__p;
                        
                    }
                }

                .process__divThree {
                    @extend .process__divOne;
                    .divThree__img {
                        float: left;
                        width: 30%;
                    }
                    .divThree__p {
                        display: inline;
                        font-size: 1.5rem;
                        color: $white;
                    }
                }
            }
        }
    }

    .container-fluid__navigation {
        .navigation__i {
            font-size: 2rem;
            color: $white;
            top: 100rem;
            margin-left: 0.5rem;
            margin-right: 0.5rem;
            cursor: pointer;
            transition: color 1s;
            &:hover {
                color: $aqua;
                transition: color 1s;
            }
            
        }

    }

    
}
