//-----------------------------------------------------------------------------------------------//
//                                         Category Sections                                     //
//-----------------------------------------------------------------------------------------------//
.container-fluid {

    .row {
        background-color: $blue;

        .sectionsContainer__section {
            text-align: center;
            overflow: hidden;
            height: 35rem;
            padding: 0;
            

            .section__img {
                width: 100%;
                position: relative;
                @include categoryImgFilter();
                transition: filter 1s;
                cursor: pointer;
                

                &--largerSize {
                    width: 113%;
                    height: auto;
                }

                @media only screen and (max-width: 540px) {
                    
                   width: 116%;
                    
                }

            }

            .section__img--position {
                @extend .section__img;
                top: -35rem;
            }

            .section__img--positionTwo {
                @extend .section__img;
                top: -20rem;

            }

            

            .section__centered {
                cursor: pointer;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                .centered__h1 {
                    font-size: 3rem;
                    text-transform: uppercase;
                    font-weight: 400;
                    color: $white;
                    background-color: lightgrey;
                }

                .centered__hr {
                    border: 0.1rem solid $white;
                    
                }                
            }

            &:hover {
                .section__img {
                    filter: none;
                }
            }
        }
    }
}
