

.clickedSectionsContainer {
    
    
    
    .clickedSectionsContainer__galleryDiv {
        
        display: block;
        //background-color: $blue; 
        

        .galleryDiv__enlargedImgDiv {
            
            // margin-left: 15%;
            // margin-right: 14%;
            text-align: center;
            
            .galleryDiv__enlargedImgDiv__i {
                
                font-size: 7vh;
                color: $white;
                cursor: pointer;
                transition: color 1s;
                display: none;
                
                &:hover {

                    color: $aqua;
                    transition: color 1s;
                    
                }
                
            }

            .enlargedImgDiv__i--position {
                margin-left: 2%
            }

            
            

            .galleryDiv__enlargedImgDiv__img {

                // max-width: 85%;
                 max-height: 100rem;
            
            }

        }

        .galleryDiv__imgDiv {
            
            margin-top: 2%;
            width: 100%;
            
            display: inline-block;

            .galleryDiv__imgDiv__img {

                
                width: 100%;
                //border: $white solid 1rem;
                transition: border 1s;
                
            }

            :hover {

                //border: $aqua solid 1rem;
                transition: border 1s;
                cursor: pointer;

            }

        }

    }
}