//-----------------------------------------------------------------------------------------------//
//                                         Contact Intro section                                 //
//-----------------------------------------------------------------------------------------------//
.contactIntroContainer  {
    
    

    .contactIntroContainer__contactIntro {

        
        margin-top: 3rem;
        margin-bottom: 3rem;
        //background-color: $blue;

        @media only screen and (max-width: 768px) {
                    
            margin-top: -3rem;
             
         }

        
        
        
        
        .contactIntro__header {
            opacity: 0;
            color: $white;
            text-align: center;
            width: 100%;
            text-align: center;
            
            &:first-child {
                margin-bottom: 3rem;
                padding-bottom: 1rem;
                border-bottom: 0.5rem solid $white;
        
            }
            
        }


        .contactIntro__BtnDiv {
            margin: 1.5rem 0rem 1.5rem 0rem;
            @include marginLeftAndRight(auto);
            border: 0.2rem solid $white;
            width: 25rem;
            padding: 0.5rem;
            transition: border 1s;
            color: $white;
            text-align: center;
            opacity: 0;
            
            cursor: pointer;
            .BtnDiv__a {
                text-decoration: none;
                
            }

            .BtnDiv__p {
                color: $white;
                font-size: 1.8rem;
                display: inline;
                transition: color 1s;                
            }

            .BtnDiv__i {
                color: $white;
                vertical-align: top;
                margin-left: 0.5rem;
                margin-right: 0.5rem;
                margin-top: 0.5rem;
                transition: color 1s;
            }

            &:hover{
                border: 0.2rem solid $aqua;
                .BtnDiv__p {
                    color: $aqua;
                    transition: color 1s;
                }
                .BtnDiv__i {
                    color: $aqua;
                    transition: color 1s;
                }
            }
        }
    }
}
