//-----------------------------------------------------------------------------------------------//
//                                         Contact Intro section                                 //
//-----------------------------------------------------------------------------------------------//
.contactIntroContainer  {
    
    

    .contactIntroContainer__contactIntro {

        margin-top: 3rem;
        margin-bottom: 3rem;
        
        
        
        .contactIntro__header--color {
            color: $white;
        }

        .contactIntro_header--centered {
            text-align: center;
        }

        .contactIntro__hr {
            border: 0.1rem solid $white;
            width: 100%;

        }

        .contactIntro__header-style {
            width: 100%;
            text-align: center;
        }



        .contactIntro__BtnDiv {
            margin: 1.5rem 0rem 1.5rem 0rem;
            @include marginLeftAndRight(auto);
            border: 0.2rem solid $white;
            width: 48%;
            padding: 1rem;
            transition: border 1s;
            color: $white;
            text-align: center;
            cursor: pointer;
            .BtnDiv__a {
                text-decoration: none;
                
            }

            .BtnDiv__p {
                color: $white;
                font-size: 1.8rem;
                display: inline;
                transition: color 1s;                
            }

            .BtnDiv__i {
                color: $white;
                vertical-align: top;
                margin-left: 0.5rem;
                margin-right: 0.5rem;
                margin-top: 0.5rem;
                transition: color 1s;
            }

            &:hover{
                border: 0.2rem solid $aqua;
                .BtnDiv__p {
                    color: $aqua;
                    transition: color 1s;
                }
                .BtnDiv__i {
                    color: $aqua;
                    transition: color 1s;
                }
            }
        }

    
    }
}
