//-----------------------------------------------------------------------------------------------//
//                                         INTRO SECTION                                         //
//-----------------------------------------------------------------------------------------------//
.introSection {
    height: 100vh;
    background-color: $lightBlue;
    
    .introSection--background {
        padding-top: 5rem;
        height: 100vh;
        //background: linear-gradient(rgba(125, 166, 187, 0.9), rgba(0, 0, 0, 0.9)), url("/Img/logo.png"); //Template colour scheme
        background: linear-gradient(rgba(217, 87, 255, 0.7), rgba(87, 215, 254, 0.7)), url("/Img/logo.png");
        
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        
        
        .introSection--wrapper {

            opacity: 0;
            display: inline-block;
            position: relative;
            top: 12rem;
            color: $white;
            

            .wrapper__h1 {
                font-size: 4rem;

                @media only screen and (max-width: 992px) {
                    font-size: 2.5rem;
                }
            }

            .wrapper__hr {
                border: 0.2rem solid $white;
            }

            .wrapper__p {
                font-size: 1.8rem;

                @media only screen and (max-width: 992px) {
                    font-size: 1.4rem;
                }
            }

            

            .wrapper--button {
                padding: 1rem;
                background: transparent;
                border: 0.2rem solid $white;
                color: $white;
                font-weight: 600;
                transition: color 1s, border 1s, background 1s;
                position: relative;

                @media only screen and (max-width: 992px) {
                    top: 15rem;
                }

                &:hover {
                    color: $blue;
                    background: $white;
                    border: 0.2rem solid $white;
                    transition: color 1s, border 1s, background 1s;
                    font-weight: 600;
                }
            }
        }
    }
}
