//-----------------------------------------------------------------------------------------------//
//                                         Modal                                                 //
//-----------------------------------------------------------------------------------------------//
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    @include widthHeight(100%, 100%);
    overflow: auto;
    background-color: rgb(0, 0, 0); //fallback colour
    background-color: rgba(36, 41, 67, 0.9);



    .modal-content {
        top: 20%;
        position: relative;
        margin: auto;
        padding: 0;
        width: 35%;
        animation-name: animatetop;
        animation-duration: 0.5s;


        //keyframes  can be inside the class it's animating 
        @keyframes animatetop {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        .modal-body {
            background-color: $darkBlue;

            .close {
                color: $white;
                float: right;
                font-size: 4rem;
                font-weight: bold;
                transition: color 1.5s;

                &:hover,
                &:focus {
                    color: $aqua;
                    text-decoration: none;
                    cursor: pointer;
                    transition: color 1.5s;
                }
            }
            .modal__button--size {
                
                width: 100%;
                display: block;
                border: 0 none;
                font-size: 3rem;
                //font-size: 2.7vw; if fail
                border-bottom: 0.1rem solid $blue;
                background-color: $darkBlue;
                color: $white;
                padding: 0;

                &:hover,
                &:focus {

                    color: $aqua;
                    text-decoration: none;
                    cursor: pointer;
                    transition: color 1s;

                }

            }

            .modal__button--contactSize {

                @extend .modal__button--size;
                border-bottom: 0;
                
            }

            @media only screen and (max-width: 992px) {
    
                .modal__button--size {
            
                    font-size: 3.5rem;
                    
                }
                
            }
        }
    }

    @media only screen and (max-width: 992px) {
    
        .modal-content {

            width: 50%;
            
        }
        
    }
}


