//-----------------------------------------------------------------------------------------------//
//                                                Navigation bar                                 //
//-----------------------------------------------------------------------------------------------//

.wrapper__navbar {

    width: 100%;
    height: 4rem;
    background-color: transparent;
    transition: background-color 1s;
    position: fixed;
    z-index: 10000;

    
    .navbar__logo {

        margin-left: 1rem;
        font-size: 1.9rem;
        color: $white;
        transition: color 1s;
        line-height: 3.5rem;

        &:hover {

            text-decoration: none;
            color: $aqua;
            transition: color 1s;

            .navbar__span {
                color: $aqua;
                transition: color 1s;
            }
        }

        .navbar__span {
            color: $white;
            padding: 0 0rem 0 0.5rem;
            transition: color 1s;
        }
    }

    

    .navbar__menuGrp {

        display: inline;
        margin-left: 5%;
        line-height: 3.5rem;
    
        .menuGrp__i {

            display: none;
            font-size: 1.9rem;
            color: $white;
            margin-left: 0.5rem;
            margin-right: 0.5rem;
            cursor: pointer;
            transition: color 1s;
            
            &:hover {
                color: $aqua;
                transition: color 1s;
            }
            
        }

        
        .menuGrp__BtnGrp {

            float: right;
            cursor: pointer;
            margin-right: 2rem;

            .menuGrp__btn {
                
                border: 0 none;
                background-color: transparent;
                color: $white;
                transition: color 1s;
                font-size: 1.9rem;
            
                @media only screen and (max-width: 540px) {
                    
                    display: none;
                    
                }
            }
            
            .btn__i {

                margin-left: 0.5rem;
                font-size: 1.9rem;
                color: $white;
                transition: color 1s;

                @media only screen and (max-width: 540px) {
                    
                    padding-top: 0.95rem;
                    
                }

            }

            &:hover {

                .menuGrp__btn {

                    color: $aqua;
                    transition: color 1s;

                }

                .btn__i {
                    
                        color: $aqua;
                        transition: color 1s;
                    
                }
            }
        }

        
        

    }
}
