//-----------------------------------------------------------------------------------------------//
//                                         Color variables                                       //
//-----------------------------------------------------------------------------------------------//
$lightBlue: #657891;
$darkBlue: #242943;
$blue: #2a2f4a;
$aqua: aqua;
$white: white;
$pink: #FF77EE;
$lighterGrey: rgba(244, 244, 255, 0.2);


