//-----------------------------------------------------------------------------------------------//
//                                         Color variables                                       //
//-----------------------------------------------------------------------------------------------//

$darkBlue: #242943;
$blue: #2a2f4a;
$aqua: aqua;
$white: white;
$pink: #c765ba;
$creditsBlue: #244655;
