/**
    Entry point: 
    styles/style.scss

    based off https://www.xfive.co/blog/itcss-scalable-maintainable-css-architecture/
    
*/
@import "variables";
@import "mixins";
@import "components/navbar";
@import "components/modal";
@import "components/introSection";
@import "components/cateSectionsContainer";
@import "components/clickedSectionContainer";
@import "components/contactIntroContainer";
@import "components/contactSectionContainer";
@import "components/footer";
@import "~bootstrap/scss/bootstrap";



* {
    padding: 0rem;
    margin: 0rem;
    box-sizing: border-box;
}













